#gift__container {
    position:fixed;
    max-height: 105px; 
    bottom: 0;
    left:250px;
    right: 321px;
    cursor: pointer;
    /* background-color: #797a79; */
    overflow: scroll ; 
  }
  #donate__display__container{
    background-color: transparent;
    height: 100px;
    width: 215px;
    overflow: hidden;
  }
  #donate_50, #donate_100, #donate_500{
    background-color:transparent;
    height: 50px;
    width: 215px;
    color: white;
    left:250px;
    font-family: 'Lobster', cursive; 
    display:none;
    
  }
  #VIP__display__container{
    background-color: transparent;
    height: 50vh;
    width: 1980;
    overflow: hidden;
  }
  .VIP_img_donate_show{
    height: 350px;
    width: 450px;
    margin: 30px;
    position:absolute;
    z-index: auto;
    left: 350px;
  }
  #donate_1000, #donate_2000{
    background-color:transparent;
    height: 400px;
    width: 215px;
    color: white;
    left:250px;
    font-family: 'Lobster', cursive; 
    display:none;
  }
  
  #btn_50, #btn_100, #btn_500, #btn_1000, #btn_2000 {
    background-color:transparent;
    border:0;
    margin: 0 auto;
    font-family: 'Lobster', cursive; 
    color: white;
  }
  .img_donate_btn {
    height: 65px;
    width: 108px;
    
  }
  .img_donate_show{
    height: 50px;
    width: 150px;
  }